<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-capitalize">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class="center-avatar">
    <img
      src="../../assets/images/pngtree-user-icon-isolated-on-abstract-background-png-image_1875037.jpg"
      alt="logo"
      class="logo"
    />
  </ion-avatar>
  <form class="a" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <ion-input
      label="email"
      label-placement="floating"
      fill="solid"
      placeholder="Ingrese su email"
      formControlName="email"
    ></ion-input>
    <div class="validation-message">
      <ng-container *ngFor="let validation of Validation_messages.email">
        <div *ngIf="
        (loginForm.get('email')?.hasError(validation.type) &&
        loginForm.get('email')?.dirty)
        ">{{validation.message}}</div>
      </ng-container>
    </div>

    <br />

    <ion-input
      label="password"
      label-placement="floating"
      fill="outline"
      placeholder="Ingrese su contraseña"
      formControlName="password"
    ></ion-input>


    <div class="validation-message">
      <ng-container *ngFor="let validation of Validation_messages.password">
        <div *ngIf="
        (loginForm.get('password')?.hasError(validation.type) &&
        loginForm.get('password')?.dirty)
        ">{{validation.message}}</div>
      </ng-container>
    </div>

    <ion-button
      class="b"
      type="submit"
      [disabled]="!loginForm.valid"
      color="light"
      expand="full"
      shape="round"
      >Login</ion-button
    >
  </form>
  <br>
  <div class="validation-message">
   {{loginMessage}}
  </div>

  <div class="register-link">
    ¿No tienes cuenta? <a (click)="goToRegistration()">Crea una cuenta nueva aquí</a>
  </div>
</ion-content>
