.center-avatar {
  margin: auto;
}

ion-content{
  bottom: -20px;
  position: relative;

}

.a{
  top: 10px;
  position: relative;
}

.b{
  top: 15px;
  position: relative;
}
.validation-message{
  margin-top: 10px;
  color: rgb(238, 28, 0);
  font-size: 20px;
}
